.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &--modal-open {
    overflow: hidden;
    max-height: 100vh;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--content-width);
  }
}

.top {
  display: flex;
  align-items: stretch;
  gap: 20px;

  &__globe {
    width: calc(var(--globe-radius) * 2);
    height: calc(var(--globe-radius) * 2);
  }
  &__display {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
  }
}

.confetti-container {
  position: absolute;
  z-index: 101;
}
