.layout-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.layout {
  display: grid;
  grid-template-columns: calc(var(--globe-radius) * 2) 1fr;
  grid-template-rows: calc(var(--globe-radius) * 2) 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "globe info"
    "quiz list";

  width: 1200px;
  height: 1200px;
  max-height: 80vh;

  &__globe {
    grid-area: globe;
  }

  &__info {
    grid-area: info;
  }

  &__quiz {
    grid-area: quiz;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;
  }

  &__list {
    overflow-y: auto;
    grid-area: list;

    flex: 1;
    padding: 20px;

    ul {
      margin-top: 20px;

      li.guess {
        opacity: 0.2;
        list-style-type: none;
        line-height: 1.4;

        &--guessed {
          opacity: 1;
        }
      }
    }
  }
}
