@import "../../css/media.scss";

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;

  @media #{$query-min-md} {
    gap: 20px;
  }
  @media #{$query-max-md} {
    flex-direction: column;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 20px;

    @media #{$query-max-md} {
      width: 100%;
      justify-content: space-between;
    }

    .timer {
      font-size: 20px;
      font-weight: 700;
      line-height: 1;
    }
  }

  .mode {
    margin-right: auto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;

    b {
      font-weight: 700;
    }
  }
}
